.topMarginShow{
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.45);

}
body > div:nth-child(1) > nav{
    height: 66x;
}
body > div:nth-child(1) > nav > div > div.navbar-header > a{
    font-size: 25px;
}
#navbar > ul > li.active > a{
    font-size: 20px;
}

#navbar > ul > li:nth-child(2) > a{
    font-size: 20px;
}

#navbar > ul > li:nth-child(3) > a{
    font-size: 25px;
}


.topMarginShow{
    padding-bottom: 100px;
}

.blogImage{
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

.title-center{
    text-align: center;
    padding-bottom: 30px;
}

blockquote{
    font-size: 2em;
    color: #b0b0b0;
    font-family: "American Typewriter";
    margin-top: 70px;
    margin-bottom: 50px;
}

body > div.container.topMarginShow > blockquote{
    /*padding-top:  100px;*/
}
/*#img.source-image {*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/
body{
    background-image: url("/images/Background.jpg");
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.body-width{
    width: 90%;
    padding-left: 25px;
}

h1,h2,h3,h4,h5,h6,p{
    color: whitesmoke;
    line-height: 35px;

}

#IndexTitles {
    font-family: "American Typewriter";
    color: #b7b7b7;
    margin-left: 20px;
}

.edit-image{
    width: 30px;
    height: 30px;
}

.edit-image img{
    width: 100%;

}

.blogBackground{
    background-color: rgba(32, 32, 32, 0.94);
}

.titleColor{
    color: #b7b7b7;
}

.titleblog{
    text-align: center;
}

.all-blogs-title{
    text-align: center;
}

