.topMarginShow{
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.45);

}
body > div:nth-child(1) > nav{
    height: 66x;
}
body > div:nth-child(1) > nav > div > div.navbar-header > a{
    font-size: 25px;
}
#navbar > ul > li.active > a{
    font-size: 20px;
}

#navbar > ul > li:nth-child(2) > a{
    font-size: 20px;
}

#navbar > ul > li:nth-child(3) > a{
    font-size: 25px;
}


.topMarginShow{
    padding-bottom: 100px;
}

.blogImage{
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

.title-center{
    text-align: center;
    padding-bottom: 30px;
    font-family: "American Typewriter";
}

blockquote{
    font-size: 2em;
    color: #b0b0b0;
    font-family: "American Typewriter";
    margin-top: 70px;
    margin-bottom: 50px;
}

body > div.container.topMarginShow > blockquote{
    /*padding-top:  100px;*/
}
/*#img.source-image {*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/
body{
    background-image: url("/images/Background.jpg");
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.body-width{
    width: 90%;
    padding-left: 25px;
}

h1,h2,h3,h4,h5,h6,p{
    color: #d3d3d3;
    line-height: 35px;

}

#IndexTitles {
    font-family: "American Typewriter";
    color: #b7b7b7;
    margin-left: 20px;
}

.edit-image{
    width: 30px;
    height: 30px;
}

.edit-image img{
    width: 100%;

}

.feather{
    padding-top: 15px;
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;

}
.feather img{
    width: 100%;
}

.blogBackground {
    background-color: rgba(32, 32, 32, 0.94);
}

.row{
    /*background-color: rgba(32, 32, 32, 0.94);*/
}

.titles-color{
    color: #b7b7b7;
    font-family: "American Typewriter";
    /*margin-left: 10%;*/
    padding-left: 10%;

}

.titleblog{
    text-align: center;
    font-family: "American Typewriter";
}

.all-blogs-title{
    font-family: "American Typewriter";
    font-size: 3em;
    text-align: center;
    padding-top: 30px;
}

.showTitle{
    text-align: center;
    font-family: "American Typewriter";
}

.show-blog{
    background-color: rgba(15, 15, 15, 0.43);
    width: 90%;
    margin-left: 5%;
}

.index-title-log{
    text-align: center;
    color: #b0b0b0;
    font-family: "fantasy";
}

body > div.container.topMarginShow > h4 > a > em{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.blog-entry-title{
    font-size: 3em;
    text-align: center;
    font-family: "American Typewriter";
    padding-bottom: 30px;
}
#title{
    margin-left: 10%;
    background-color: #151515;
    font-size: 19px;
    color: #e5e5e5;
    height: 40px;
    width: 400px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
 textarea{
     font-size: 19px;
     color: #e5e5e5;
     width: 800px;
     height: 500px;
     /*padding-left: 15%;*/
     background-color: #151515;
     margin-left: 10%;
 }
/*Cool Buttons*/
body > div > form > input[type="submit"]:nth-child(6) {
    margin-left: 10%;
    margin-top: 8px;
    background-color: #151515;
    color: #b0b0b0;
    font-size: larger;
    font-family: "American Typewriter";
    padding: 5px 10px;
}
body > div > form > input[type="submit"]:nth-child(7){
    margin-left: 10%;
    margin-top: 8px;
    background-color: #151515;
    color: #b0b0b0;
    font-size: larger;
    font-family: "American Typewriter";
    padding: 5px 10px;
}
body > div > div > div > a:nth-child(3) > button{
    margin-left: 10%;
    margin-top: 8px;
    background-color: #151515;
    color: #b0b0b0;
    font-size: larger;
    font-family: "American Typewriter";
    padding: 5px 20px;
    /*padding-right: 10px;*/
}

body > div > div > div > a:nth-child(4) > button{
    margin-left: 5%;
    margin-top: 8px;
    background-color: #151515;
    color: #b0b0b0;
    font-size: larger;
    font-family: "American Typewriter";
    padding: 5px 20px;
}

.titles-background{
    margin-top: 30px;
    background-color: rgba(35, 35, 35, 0.67);
    padding-bottom: 50px;
}





