<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('blog')">
</head>
<body>
<div><nav th:replace="partials/navbar :: navbar"></nav></div>
<h1>Active Fail</h1>
<div class="container topMarginShow">
        <h1 id="quote" ><em>Failure is simply an opportunity to tell the world.</em></h1>
        <h3 id="quote-author"><em>-Active Fail</em></h3>

        <!--<div id="img1" class="blogImage" >-->
                <!--<a th:href="@{/titles}"><img src="/images/Enter.gif" height="200" width="200"/></a>-->
        <!--</div>-->
    <div>
        <a class="sign-up-login-blog-page" th:href="@{/sign-up}">Wanna Fail Blog?!?</a>
    </div>
    <!--What is Active Fail-->
    <button class="btn fail-what" data-toggle="collapse" data-target="#fail-define"><em>What's Active Fail???</em></button>

    <div id="fail-define" class="collapse">
        Active Fail is a blogging site where you can anonymously post your Fails in Active pursuit to success. Failing isn't a bad thing, in fact we see it as a great opportunity to share and connect with others. Failure is an opportunity to stay humble, find humor, and come together.
        "I can accept failure, everyone fails at something. But I can't accept not trying." -Michael Jordan
        "Think like a queen. A queen is not afraid to fail. Failure is another steppingstone to greatness." - Oprah Winfrey
        "Success consists of going from failure to failure without loss of enthusiasm." -W. Churchill
    </div>


</div>
<footer th:include="partials/footer :: footer"></footer>
</body>
</html>