<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('blog')">
</head>
<body>
<div><nav th:replace="partials/navbar :: navbar"></nav></div>
<h1>Active Fail</h1>
<div class="container topMarginShow">
        <h1 id="quote" ><em>Failure is simply an opportunity to tell the world.</em></h1>
        <h3 id="quote-author"><em>-Active Fail Staff</em></h3>

        <!--<div id="img1" class="blogImage" >-->
                <!--<a th:href="@{/titles}"><img src="/images/Enter.gif" height="200" width="200"/></a>-->
        <!--</div>-->
    <div>
        <a class="sign-up-login-blog-page" th:href="@{/sign-up}">Wanna Fail Blog?!?</a>
    </div>

</div>
<footer th:include="partials/footer :: footer"></footer>
</body>
</html>