<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="partials/header :: header('blog')">
</head>
<body>
<div><nav th:replace="partials/navbar :: navbar"></nav></div>

<div class="container topMarginShow">
    <h1 class="center-title">Fail Garbage</h1>
    <h2 class="center-title">Are You sure you want to Delete this Fail?</h2>
    <h1 class="title-center">
        <span th:text="${post.title}"></span>
    </h1>
    <!--<span><a th:href="@{/posts/{postId}/delete(postId=${post.id})}"><button type="button" class="btn btn-default">DELETE</button></a></span>-->
    <br/>

    <form th:action="@{/posts/{postId}/delete(postId=${post.id})}" th:method="post" th:object="${post}">
        <input th:field="*{id}" type="hidden" />
        <input type="submit" value="Delete"/>
    </form>

    <div>
        <a class="return-to-blog" th:href="@{/titles}">Keep Fail</a>
    </div>

</div>
<footer th:include="partials/footer :: footer"></footer>
</body>
</html>