<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('blog')">
</head>
<body>
<div><nav th:replace="partials/navbar :: navbar"></nav></div>

<div class="container topMarginShow">
    <h1>Blog Garbage</h1>
    <h2>Are You sure you want to Delete this Blog?</h2>
    <h1 class="title-center">
        <span th:text="${post.title}"></span>
    </h1>
    <a th:href="@{/posts/{postId}/delete(postId=${post.getId()})}"><button type="button" class="btn btn-default">DELETE</button></a>
    <div class="blogImage" >
        <a th:href="@{/posts/titles}">Return to Blogs</a>
    </div>

</div>
<footer th:include="partials/footer :: footer"></footer>
</body>
</html>