<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('Edit Post')"></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container topMarginShow">
<form th:action="@{/posts/create}" method="post" th:object="${newPost}">
    <h3 class="blog-entry-title">Blog Entry</h3>
    <input th:field="*{title}" th:value="${title}" placeholder="Blog Title"/>
    <br />
    <textarea th:field="*{body}" th:value="${body}" placeholder="Write your blog"></textarea>
    <br />
    <input th:fieldt="*{location}" th:value="*{location}">
    <br/>
    <input th:fieldt="*{question}" th:value="*{question}">
    <br/>
    <input th:fieldt="*{answer}" th:value="*{answer}">
    <br/>
    <!--<select class="form-control" th:field="*{categories}">-->
        <!--<option value="Social">Travel</option>-->
        <!--<option value="Political">Food</option>-->
        <!--<option value="Financial">Photography</option>-->
        <!--<option value="Sports">Outdoor</option>-->
    <!--</select>-->
    <h4>Category Tags:</h4>
    <!--<div class="form-group">-->
    <div th:each="category : ${categories}">
        <input type="checkbox" th:field="*{categories}" th:value="${category.id}">
        <label th:for="${#ids.prev('categories')}"
        th:text="${category.id}"
        ></label>
    </div>
    <!--</div>-->
    <input type="submit" />
</form>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>