<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('Edit Post')"></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container topMarginShow">

<form th:action="@{/posts/create}" method="post" th:object="${post}">
    <h3 class="blog-entry-title">Blog Entry</h3>
    <input th:field="*{title}" th:value="${title}" placeholder="Blog Title"/>
    <br />
    <textarea th:field="*{body}" th:value="${body}" placeholder="Write your blog"></textarea>
    <br />
    <!--<input th:field="*{postDetails}" th:value="*{answer}" placeholder="Current Location"/>-->
    <!--<br/>-->
    <!--<input th:field="*{postDetails}" th:value="*{location}" placeholder="Post a Question"/>-->
    <!--<br/>-->
    <!--<input th:field="*{postDetails}" th:value="*{question}" placeholder="Post a Answer"/>-->
    <br/>
    <h4>Category Tags:</h4>
    <!--TODO: option 2-->
    <label>
        <select class="form-control" th:field="*{categories}">
            <option value="Travel">Travel</option>
            <option value="Food">Food</option>
            <option value="Photography">Photography</option>
            <option value="Outdoor">Outdoor</option>
        </select>
    </label>
    <!--TODO: Option 3-->
    <!--<form style="display:inline-block" th:action="@{/posts/create}" th:object="${post}" method="get">-->
        <!--<select id="optionsList" name="optionsListId">-->
            <!--<option th:each="category : ${categories}" th:value="${category.getId()}"-->
                    <!--th:text="${category.name}">Options</option>-->
        <!--</select>-->
        <!--<input type="submit" value="Search"/>-->
    <input type="submit" />
</form>



</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>