<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="partials/header :: header('Edit Post')"></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container topMarginShow">

<form th:action="@{/posts/create}" method="post" th:object="${post}">
    <h3 class="blog-entry-title">Tell the World your Fail</h3>
    <h4>Fail Topics</h4>
    <div class="form-group">
        <div class="float-categories" th:each="category : ${categories}">
            <label>
                <input type="checkbox" th:field="*{categories}" th:value="${category.id}" /> <span class="categories" th:text="${category.name}"></span>
            </label>
        </div>
    </div>
    <br/>
    <div style="clear:both; width:100%"></div>
    <h4 th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></h4>
    <input th:field="*{title}" th:value="${title}" placeholder="Blog Title"/>
    <br />
    <h4 th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></h4>
    <textarea th:field="*{body}" th:value="${body}" placeholder="Write your blog"></textarea>
    <br />
    <div class="create-categories">
<!--upload a file-->
        <form th:action="/fileupload" th:method="post" enctype="multipart/form-data">
            <label for="file">Upload a file!</label>
            <input id="file" name="file" type="file" />
            <br />
            <input type="submit" value="upload" />
        </form>
        <!--*****************-->

    <input class="create-submit-button" type="submit" />

    </div>
</form>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>