<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('Create Post')"></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container topMarginShow">
    <form th:action="@{/posts/edit}" method="post" th:object="${editPost}">
        <h2 class="blog-entry-title">Blog Editing</h2>
        <h4 th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></h4>
        <input th:field="*{title}" />
        <br />
        <h4 th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></h4>
        <textarea th:field="*{body}"></textarea>
        <br />
        <input type="hidden" th:field="*{id}" th:value="${id}"/>

        <!--TODO: Work on edit controller-->
        <!--<h4>Blog Topics</h4>-->
        <!--<div class="form-group">-->
            <!--<div class="float-categories" th:each="category : ${categories}">-->
                <!--<label>-->
                    <!--<input type="checkbox" th:field="*{categories}" th:value="${category.id}" /><span class="categories" th:text="${category.name}"></span>-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->

        <input type="submit" />
    </form>

    <a th:href="@{/posts/{postId}/confirm-delete(postId=${editPost.id})}"><button class="delete-button" >DELETE</button></a>





</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>

