<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('Create Post')"></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container topMarginShow">
    <form th:action="@{/posts/edit}" method="post" th:object="${editPost}">
        <h2 class="blog-entry-title">Blog Editing</h2>
        <input th:field="*{title}" />
        <br />
        <textarea th:field="*{body}"></textarea>
        <br />
        <input type="hidden" th:field="*{id}" th:value="${id}"/>
        <input type="submit" />
    </form>

    <a th:href="@{/posts/{postId}/confirm-delete(postId=${editPost.id})}"><button class="delete-button" >DELETE</button></a>





</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>