<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="partials/header :: header('show')"></head>
<!--${post.getTitle()}-->
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container topMarginShow">
    <div class="row">
        <div class="col s8 offset-s2">
            <h1 class="title-center">
                <span th:text="${post.title}"></span>
            </h1>
            <h4 class="body-width">
                <span th:text="${post.body}"></span>
            </h4>
        </div>
    </div>
    <div class="blogBackground" th:each="post : ${posts}">
        <div class="blog-images" th:each="image : ${post.images}">
            <img width="50%" th:src="${image.path}" />
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <div th:if="${isPostOwner}">
            <div class="feather">
                <a th:href="@{/posts/{postId}/edit(postId=${post.getId()})}">
                <img src="/images/Feather.png"/>
                 </a>
             </div>
        </div>
    </div>
    <h5 class="showPost" th:text="${'Fail By: ' + post.user.username}"></h5>

    <div class="blog-images" th:each="image : ${post}">
        <img width="60%" style="display: block; margin: 5px auto; padding-top: 25px" th:src="${post.path}" />
    </div>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>

