<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('show')"></head>
<!--${post.getTitle()}-->
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container topMarginShow">
<div class="row">
    <div class="col s8 offset-s2">
        <h1>
            <span th:text="${post.title}"></span>
        </h1>
        <p>
            <span th:text="${post.body}"></span>
        </p>
        <a th:href="@{/posts/{postId}/edit(postId=${post.getId()})}"><button type="button" class="btn btn-default">Edit</button></a>
        <a th:href="@{/posts/{postId}/delete(postId=${post.getId()})}"><button type="button" class="btn btn-default">Delete</button></a>
    </div>
</div>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>