<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('show')"></head>
<!--${post.getTitle()}-->
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container topMarginShow">
<div class="row">
    <div class="show-blog col s8 offset-s2">
        <h1 class="showTitle">
            <span th:text="${post.title}"></span>
        </h1>
        <h3>
            <span th:text="${post.body}"></span>
        </h3>
        <h5 class="showPost" th:text="${'Post By: ' + post.user.email}"></h5>

    </div>
</div>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>