<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('Tites')">
</head>
<body>
<div><nav th:replace="partials/navbar :: navbar"></nav></div>

<div class="container topMarginShow">
    <h1 class="titleblog">Blogs by Title</h1>
    <div class="titles-background">
    <div th:each="post : ${posts}">
        <h2>
            <a th:href="@{/posts/{postId}(postId=${post.getId()})}">
            <span class="titles-color" th:text="${post.title}"></span>
            </a>
        </h2>
    </div>
    </div>
</div>
<footer th:include="partials/footer :: footer"></footer>
</body>
</html>