
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<footer th:fragment="footer" class="footer">
    <div class="container">
        <p class="text-muted">LLP Enterprise</p>
    </div>
</footer>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;/*  Multiple fragments may be defined in one file */&ndash;&gt;-->
<!--<div th:fragment="footer" th:align="center">-->
    <!--&copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>-->
    <!--<span>My Awesome App</span>-->
<!--</div>-->
<!--<div th:fragment="footer-admin" th:align="center">-->
    <!--&copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>-->
    <!--<span>My Awesome App </span><span th:text="${@environment.getProperty('app.version')}"></span>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->