<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header('Tites')">
</head>
<body>
<div><nav th:replace="partials/navbar :: navbar"></nav></div>

<div class="container topMarginShow">
<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label class="login-font" for="username">Username</label>
    <br/>
    <h4 th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:placeholder="username"></h4>
    <input id="username" th:field="*{username}" />
    <br/>
    <label class="login-font" for="email">Email</label>
    <br/>
    <h4 th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:placeholder="email"></h4>
    <input id="email" th:field="*{email}" />
    <br/>
    <label class="login-font" for="password">Password</label>
    <br/>
    <h4 th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:placeholder="password"></h4>
    <input id="password" type="password" th:field="*{password}" />
    <br/>
    <input value="Sign me up!" type="submit" />
</form>
</div>
</body>
</html>